#logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

#salvar,
#adicionar-entrada,
#clear-data,
#print-summary {
  min-width: 200px;
}

@media print {
  body * {
    visibility: hidden;
  }

  #summary,
  #summary * {
    visibility: visible;
  }

  #print-summary {
    display: none;
  }

  #summary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
